a.env
lore/
lore2/
agents/The_lord_hand/__pycache__/
agents/The_lord_commander/__pycache__/
agents/The_lord_of_whispers/__pycache__/
agents/The_master_of_coin/__pycache__/
agents/The_master_of_law/__pycache__/
agents/The_king/__pycache__/
